html {
  --active-color: #00acdc;
}

body {
  background-color: rgb(229, 229, 229);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
pre,
figure,
hr,
dl,
dd,
form,
fieldset,
legend,
button,
input,
textarea,
select {
  margin: 0;
}
